
    <header>
       <div class="top">
         <%= image_tag("profile.jpg", :id => "icon")%>
         <span id="myname">植松 将哉</span>

         <nav>
           <ul>
             <li><a href="">Home</a></li>
             <li><a href="https://twitter.com/u_marty">Twitter</a></li>
           </ul>
         </nav>
      </div>
   </header>
   <div class="container">
       <h2>自己紹介</h2>
       <div class="profile">
           <p>RaiseTech7月受講生。</p>
           <hr>
           <p>1995年11月18日</p>
           <p>大阪府堺市出身</p>
       </div>
   </div>
   <footer>
       <p>&copy; Masaya Uematsu</p>
   </footer>
